[Unit]
Description=Homestats dash
Requires=docker.service
After=docker.service 

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStartPre=-/usr/bin/docker stop homestats
ExecStart=/usr/bin/docker start --attach homestats
ExecStop=-/usr/bin/docker stop homestats

[Install]
WantedBy=multi-user.target
