button:disabled,
button[disabled]{
  background-color: #dddddd;
  color: #777777;
  background: 
      linear-gradient(to top left,
                      rgba(0,0,0,0) 0%,
                      rgba(0,0,0,0) calc(50% - 0.8px),
                      rgba(0,0,0,1) 50%,
                      rgba(0,0,0,0) calc(50% + 0.8px),
                      rgba(0,0,0,0) 100%),
      linear-gradient(to top right,
                      rgba(0,0,0,0) 0%,
                      rgba(0,0,0,0) calc(50% - 0.8px),
                      rgba(0,0,0,1) 50%,
                      rgba(0,0,0,0) calc(50% + 0.8px),
                      rgba(0,0,0,0) 100%);
}

.meter-form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  column-gap: 40px;
  row-gap: 15px;
  justify-items: center;
  align-items: end;
  justify-content: center;
}

.meter-form input[type="number"] {
    width: 100%;
}

.meter-output {
    margin-top: 10px;
    padding: 3px;
    color: #555555;
    font-size: 8pt;
}

.category_pie {
    width: 33vw;
    height: 30em;
}
